#thebodyofrecoverpassword{
   background: #4e4ed3;
position: absolute;
}
#coverupinputs{
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: 100;
    background: linear-gradient(360deg,blue,white);
    left:500px;
    top:150px;
}
#recoveringmypass{
    position: absolute;
    top: 250px;
    left: 240px;
    height: 30px;
}
#recoveringmypass2{
    position: absolute;
    top: 350px;
    left: 240px;
    height: 30px;
}
#sendingrecoverpassbutton{
    position: absolute;
    top:420px;
    left:270px;
    height: 35px;
    width: 100px;
    background-color: #3498db; /* Default background color */
     color: red;
     font-weight: bolder;
     font-size: 15px;
     transition: background-color 0.5s, color 0.5s;
     &:hover {
        background-color: #53ab21;
        border-color: white;
      }
}
#notifparagraph{
    position: absolute;
    font-weight: bolder;
    text-shadow: 0cap;
    font-size: large;
    top:110px;
    height: 10px;
    width: 250px;
    right: 130px;
    
}
#gotomainmenufromrec{
    position: absolute;
    right:-10px;
    font-weight: bolder;
    border-radius: 20px;
    &:hover{
        border-width: 3px;
        border-color: #85cb85;        
    }
}
