<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <title>Gürel Lab Result Consultation</title>
</head>
<body>

    <h1>Your profile successfully changed! </h1>
    <h2>Go to profile</h2>
    <h2>Go to menu</h2>
</body>