<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <title>Gürel Lab Result Consultation</title>
    <link rel="stylesheet" type="text/css" href="cssofnewformat.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>
<body id="mainpagebodyid" onload="slider12()">

    <div id = container>
        <div class="topside">
            <h1 class="entrance">Ask your questions for your lab results, let us answer you!</h1>
            
            
            

         
            
            <button id="Login"> Login/Signup</button>
       
            <button id="Contact"><a href="#contact">Contact</a></button>
            
            <div class="senddoc"></div>
                <img id="rightarrow1" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\rightarrow.png" width="100" height="100">
                <img id="docicon" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\bloodicon.jpg" width="150" height="150">
                    <p id="easysendh">Easy send your results, introduce the case <br>and ask your questions to doctor </p>

            <div class="weeval2day"></div>
                <img id="rightarrow2" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\rightarrow.png" width="100" height="100">
                <img id="clockicon" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\clockicon.png" width="150" height="150">
                    <p id="waiting">Max 3 day await </p>



            <div class="yourresultready"></div>
                <img id="feedbackicon" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\feedbackicon.png" width="150" height="150">
                    <p id="feedback">Then our doctor would answer to your questions with his expert opinions. </p>

        </div>
        <div>    
            <h2>Welcome to online lab result consultancy platform by Dr. Abdülkadir Gürel</h2>
        </div>
        </hr>
        <div class="photo">
            <img class="kadirgurel" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\kadirgurel.png" width="650" height="650">
        </div>
        <div class ="explaintocustomer"> 
            <h1 class="whatwedopa">What we doing ?  </h1> 
            <div class = "howwork1">
            <h1 id="howwork">What is Scope of Our Consultancy, How We Work and How Evaluating Process Going?  </h1>
        </div>
        
        </div> <hr/>
    
        <div class="introduction">
            <div class="changeparagraphsfeature">
            
            <p class = "pintroduction">This is private online lab results consultancy platform  and if you need evaluate your blood values, blood results, and if need any comment, advice or seeking different an opinion on them, we can assist for consultancy. Dr. Abdulkadir Gürel with 30+ years experience of him in biochemistry, we made ease the send 
                documents for customers and fast return maximum up to in 2 days. Since doctors may have different approach and expert opinions for a patient, we believe taking different advices are useful and constructive for a patient. With Mr. Abdulkadir's expertise, we believe you will take benefit of this online
                consultancy platform. Our prices are affordable and same for each document also detailed explanation about situation would be provided, and also direct questions to doctor option is available via private post. Our company accommodating in Turkey, Izmir and we are ready to serve you in best way.    
            </p>

            </div>
            <img id = "digitalh" src="C:\\Users\\ege_g\\Desktop\\mywebsite\\digitalh.jpeg" height="320" width="320">
            <div class="expand">
            <p class="pintroduction2">
                After you send your lab results to our e-mail adress via your user account either as picture of lab results or of clearly writen biomarkers in e-mail, you have to explain what is your current health situation, if there is any specific subject you can define it for comment or ask any specific question about it then we can consult around it, beside of that if there is 
                something missed from eyes already we will try to fill that gap and feedback to you. <br/>
                Upon your request, our return duration is maximum 3 day.<br/>
                We prefer accept your paper or questions in English language but for another languages we may have translate it.<br/>

            </p>
            </div>
            
        </div><hr>
        <div class="slide">

            <div class="slide2">
                <img src="virtualassistant.jpeg" height="600" width="500" id="slideit">
            </div>

        </div>
        <div class="text-slide">
            <p class="ticker-text">Use Digital Health, Find More Solutions to Your Problem and Enlarge Your Vision with Assist!</p><br>
            
        </div>
        </div>
        <div id="contact">
            
            <h1 class = "contactus">Contact Us</h1>
            <ul class="contactinfo">
                <li>GÜREL Company <br> Turkey/Izmir</li>
                <li>Phone : +90 507 682 08 76</li>
                <li>E-mail : ....</li>

            </ul>
        </div>

    </div>
           
    <div class="logpage">
       
        <img class ="logicon" src="logicon3.png" width="100" height="100">
        <button id="exit12">
            <img id="ssss" src="exit1.png" alt="ww" width="25" height="25"></button>
        <div class="lck">
            <img class ="lockicon" src="lockicon.png" width="30" height="30">  
                
            <input type="text" placeholder="Enter your username" required>
            
            
        </div>
        <div class="passwordd">
                
            <input type="password"  placeholder="Enter your password" required>
                    
                
            <img class ="accounticon" src="accounticon.png" width="30" height="30">
            <label for="checkbox" id="checkbox1">
                <input id="checkbox" type="checkbox"> Remember me
            </label>
            
            <a id="b">Register a User</a>
            <a id="a">Forget Password?</a>
        </div>

    </div>




    <div id="registeringuserform">
        <form action="/apijs.js" id="formofregister" method="POST" >
            <form>
               <label class="label00" for="nameonregister">Enter Your Name:</label>
               <input type="text" id="nameonregister" name="nameonregister" placeholder="" value="" />
            </form>
            <form>
              <label class="label000" for="surnameonregister">Enter Your Surname:</label>
              <input type="text" id="surnameonregister" name="surnameonregister" placeholder="" value="">
            </form>
            <form>
                <label class="day1" for="day">Day:</label>
                <input type="number" id="day" name="day" min="1" max="31" value="" required>
            </form>
            <form>
                <label class="month1" for="month">Month:</label>
                <input type="number" id="month" name="month" min="1" max="12" value="" required>
            </form>
            <form>
                <label class="year1" for="year">Year:</label>
                <input type="number" id="year" name="year" min="1900" max="2099" value="" required>
            </form>

            <label class="gender1" for="gender">Gender:</label><br>
            <form>
                <label class="male1" for="male">Male</label><br>

                <input type="radio" id="male" name="gender" value="male">
            </form>
            <form>
                <label class="female1"for="female">Female</label><br>

                <input type="radio" id="female" name="gender" value="female">
            </form>
            <div id="contentonn">
                <!-- The main content of your page -->
            </div>
            <form>
              <label class="label0" for="emailonregister">Enter Your E-mail:</label>
              <p>Note: Please choose a password with minimum length of 8 characters,<br> mix of uppercase and lowercase letters,<br>add numbers and special characters (e.g., !, @, #, $, %).</p>
               <input type="email" id="emailonregister" name="emailonregister" placeholder="" value="">
            </form>
            <form>
                <label class="label1" for="passwordonregister" >Password:</label>
            
               
                <input type="password" id="passwordonregister" name="passwordonregister" placeholder="" value ="" required>
            </form>
            <form>
                <label class="label2" for="passwordagainonregister">Confirm Password:</label>
                <input type="password" id="passwordagainonregister" name="passwordagainonregister" placeholder="" value="" required>
            </form>
            

           
            <img class="iconmof" src="morficon.png" height="150" width="150">
            <form>
                <button id="submitbuttononregister" name="submitbuttononregister" type="submit">Submit</button>
            </form>
        </form>
        <a id ="hreftomainmenu">
           <h2>Back to Main Menu</h2>
        </a>
        
    </div>

    <script>
        app.get('/', (req, res) => {
  res.render('testejs', { dynamicContent: 'Hello from Node.js' });
});
        let myval ='';
        let myval2 ='';
        let myval3 ='';
        let myval4 ='';
        let myval5 ='';
        let myval6 ='';
        let myval7='';
        let myval8='';
        let myval9 ='';
        let myval10 ='';
        let myval11 = '';
        nameonregister.oninput = showValue;
        surnameonregister.oninput = showValue2;
        
        day.oninput = showValue3;
        month.oninput = showValue4;
        year.oninput = showValue5;
        
        emailonregister.oninput = showValue6;
        passwordonregister.oninput = showValue7;
        passwordagainonregister.oninput = showValue8;
        male.onclick = showValue9;
        female.onclick = showValue10;
      
       
        var submitbuttononregister25 = document.getElementById("submitbuttononregister");
       // surnameonregister.oninput = showValue;
    
        function showValue(){
             
          
          myval = this.value;
       
          submitbuttononregister25.addEventListener('click', function(){
            
            console.log(myval);

        })
        

        }
        function showValue2(){


            myval2 = this.value;
            submitbuttononregister25.addEventListener('click', function(){
          
            
             console.log(myval2);
        });
         
           }
           function showValue3(){
             
          
             myval3 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval3);
           });
   
           }

           function showValue4(){
             
          
             myval4 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval4);
           });
   
           }

           function showValue5(){
             
          
             myval5 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval5);
           });
   
           }

           function showValue6(){
             
          
             myval6 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval6);
           });
   
           }

           function showValue7(){
             
          
             myval7 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval7);
           });
   
           }
   
           function showValue8(){
             
          
             myval8 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval8);
           });
   
           }

           function showValue9(){
             
          
             myval9 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval9);
           });
   
           }
           function showValue10(){
             
          
             myval10 = this.value;
          
             submitbuttononregister25.addEventListener('click', function(){
               
               console.log(myval10);
           });
        }

  
 

 
        const namee = document.getElementById("nameonregister"); 

        const surnamee = document.getElementById("surnameonregister");

        const dayy = document.getElementById("day");
        const monthh = document.getElementById("month");
        const yearr = document.getElementById("year");
        const gmale = document.getElementById("male");
        const fmale = document.getElementById("female");
        const emaill = document.getElementById("emailonregister");
          

        const passwordd = document.getElementById("passwordonregister");
        const passwordd2 = document.getElementById("passwordagainonregister");


//nameonregister, surnameonregister,day ,month ,year ,male ,female,emailonregister ,passwordonregister ,passwordagainonregister 

/*
Credentialss = new Credentialssa({name : "Ege23",
surname:"Gurel",
email:"ege@ege",
age:28,
gender:'male'}) 
Credentialss.save();*/

        var listenregister = document.getElementById("b");
        var myregisterpage = document.getElementById("registerr");
        var foruserpage2 = document.getElementById("userpage2");
        var forlogpage = document.getElementsByClassName("logpage")[0]; 
        var forlogpage2 =  document.querySelector(".logpage");
        var formainpagereturn = document.getElementById("mainpagereturn");
        var forcontainer =document.getElementById("container");
        var forexit12 = document.getElementById("exit12");
        var forregisteringuserform = document.getElementById("registeringuserform");
        var forhreftomainmenu = document.getElementById("hreftomainmenu");
        var forb = document.getElementById("b");
        listenregister.addEventListener("click", function(){
            myregisterpage.style.display = "grid";
        });
        var loginbutton = document.getElementById("Login"); 
        loginbutton.addEventListener("click", function(){
            forlogpage.style.visibility="visible";
            forcontainer.style.opacity=0.3;
            forlogpage2.style.opacity=1;    
            forexit12.style.visibility="visible";
            
           
        } );
        forexit12.addEventListener("click",function(){
            forexit12.style.visibility="hidden";
            forlogpage.style.visibility="hidden";
            forcontainer.style.visibility="visible";
            forcontainer.style.opacity="1";

        })
        forb.addEventListener("click", function(){
            forregisteringuserform.style.visibility="visible";
            forcontainer.style.opacity=0.3;
            forlogpage.style.visibility="hidden";
            forexit12.style.visibility="hidden";


        })
        forhreftomainmenu.addEventListener("click", function(){
            forregisteringuserform.style.visibility="hidden";
            forcontainer.style.opacity=1;
            forcontainer.style.visibility="visible";



        })
        formainpagereturn.addEventListener("click", function(){
            foruserpage2.style.visibility="hidden";
            forcontainer.style.visibility="visible";
        });
        
       
    </script>
    
    <script src="jsofnewformat.js"></script>
    <script src="apijs.js"></script>

 
</body>
</html>

